<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilo_galeria.css' %}">
    
</head>
<body>

    <h1>Galería de Imágenes</h1>

    <div class="gallery">
        <img src="https://i.pinimg.com/564x/a7/82/35/a78235ab384d29b252b504f9f03cffba.jpg" alt="Imagen 1">
        <img src="https://i.pinimg.com/564x/a5/44/01/a5440133437cd09d12bf2a5ef6b1be8b.jpg" alt="Imagen 2">
        <img src="https://i.pinimg.com/564x/40/53/8d/40538dfc3de19444d64dcddac1d6aafc.jpg" alt="Imagen 3">
        <img src="https://i.pinimg.com/564x/70/47/62/7047620c2dd6acba1dd94c95029ba9a8.jpg" alt="Imagen 4">
        <img src="https://i.pinimg.com/564x/49/d0/9e/49d09e48a83abeefae6760cfbf02e751.jpg" alt="Imagen 5">
        <img src="https://i.pinimg.com/564x/c3/96/36/c39636824e05077049043a8cf4c004cb.jpg" alt="Imagen 6">
        <!-- Agrega más imágenes según sea necesario -->
    </div>

</body>
</html>
